<div id="content">
  <div class="page">
    <div class="leftcontent">
      <div class="uppercontent"> <h1 class="headingh1">Photo <strong>Tips</strong></h1>

        <h3>Tips for taking high-quality photos of your ride.</h3>

        <p>To attract buyers to your vehicle, it is imperative that high quality images are used.</p>

        <p>
          1) Not every buyer is local, so folks in other parts of the country need to see your vehicle in the most attractive way, since they can't see it in person.
          2) Buyers may not even be looking for your model of car, but beautiful photographs can interest them in what you have for sale.
        </p>

        <p>
          Camera: While it's convenient, please don't use the camera on your phone. Use a modern DSLR (Digital Single Lens Reflex) camera with an 18-55mm lens - not a telephoto lens!
           Don't stress over the pixel count - what's more important are the settings during your shoot. All you need is a 3-4 MP (megapixel) camera. If you have a higher rated MP camera and you can adjust the MP setting, set it to 3-4 MP.
        </p>

        <p>
        <ul>
          <li><p><b>Set the camera's main setting on "Program" or "P", and not "Auto"</b></p></li>
          <li><p><b>Flash - You want your flash to work outdoors, so take it off of the "auto" flash setting, and set it to engage on every shot. Double check that it does!</b></p></li>
          <li><p><b>Shoot with your camera inverted (upside down) - the flash works best when underneath your lens.</b></p></li>
          <li><p><b>Use the brightest setting for your flash, and if you have a supplemental flash, use it.</b></p></li>
          <li><p><b>ISO Setting - set on 80-100, - up to 200. This will offer less "grainy" results in your photos.</b></p></li>
          <li><p><b>Exterior shots - do not shoot in direct sunlight when the sun is directly overhead (midday). This will wash out the colors on your beautiful car/bike. If you must shoot in direct sunlight, do so only from dawn to mid morning, or late afternoon to dusk.</b></p></li>
          <li><p><b>Use a polarizer filter if possible.</b></p></li>
          <li><p><b>Outdoor shade is preferred for exterior shots of your vehicle, and must be used for shots of your engine, interior, and dash.</b></p></li>
          <li><p><b>Outdoor shade = shade of a solid structure, not shade from trees, which cast weird shadows on your vehicle. Use the brightest shade of the day - mid morning to mid afternoon. Ensure that your car is fully in shade. Don't forget to use the flash!</b></p></li>
          <li><p><b>Turn on parking lights, brake lights, and instrument panel lights. Fill your viewfinder - adjust your lens to fill the viewfinder with your subject, each time you change angles/distance.</b></p></li>
          <li><p><b>For all outdoor shots, do not park on grass, gravel or dark asphalt. Park only on light concrete or pavers.</b></p></li>
        </ul>
        </p>


        <h3>Shoot the exterior of your vehicle from the following angles:</h3>
        <div>
          Full Frontal
          3/4 Frontal
          Side
          3/4 Rear
          Full Rear
        </div>



        <h3>Full Frontal:</h3>

        <p>
          Flash on. Hold camera inverted (upside down) - yes, upside down.
          Center front wheels
          Stand 6 feet in front of the vehicle, at it's centerline. Kneel down to hood height, and take additional shots at slightly higher points.
          Back up an additional foot, again starting at hood height and working higher.
          Back up another foot, again starting at hood height and working higher.Inte
          Shade of a building - bright shade (mid-morning to mid-afternoon)
          If you shoot in full sun, only do it during dawn to mid morning, or mid to late afternoon.
          If in sun, have the sun behind you, but watch for your shadow.
        </p>



        <h3>3/4 Frontal:</h3>

        <p>
          Flash On, Hold camera inverted
        Center front wheels, Tires Dressed, Parking lights on
        Shade of a building - bright shade (mid-morning to mid-afternoon)
        If you shoot in full sun, only do it during dawn to mid morning, or mid to late afternoon.
        If in sun, have the sun behind you, but watch for your shadow.
        Front and side of car should be illuminated, so position car approriately
        Angle - 45 degrees off of front corner of car.
        Distance -
        Shoot from 5 feet - mid thigh, waist, then chest level
        Back up 2 feet - duplicate previous shots, and add eye level
        Back up an additional 2 feet - duplicate previous shots, and add step stool height
        Then shoot from the same distances and heights, but change the angle to 30 degrees off of front corner
       </p>

        <h3>Side:</h3>

        <p>
          Flash on, camera upside down
        Center Front Wheels, tires dressed
        Stand even with the headlights, off to the side of the vehicle
        </p>

        <p>
          At 6 feet out from headlights (even with both front headlights), shoot at knee, waist, then chest level
          Back up 2 feet, duplicate shots
          Back up an additional 2 feet, duplicate shots, and add eye level and step stool height.
        </p>

        <p>Once finished, use the same distances and heights, but align yourself with the front wheel, instead of the headlights.</p>

        <p>
          Shade of a building - bright shade of mid-morning to mid afternoon, or if in full sun, dawn to mid-morning, or mid afternoon to dusk
        If in sun, have the sun behind you, but watch for your shadow.
        </p>

        <h3>3/4 Rear Shots</h3>

        <p>Flash on.
        Center front wheels, tires dressed
        Shade of a building - bright shade of mid-morning to mid-afternoon, or in direct sunlight from dawn to mid-morning, or mid-afternoon to dusk
        If in sun, have the sun behind you, but watch for your shadow

        Angle - 45 degrees off of rear corner
        Distance - about 25 feet
        Height - start at the knees, then mid-thigh, then waist, then chest, then eye level, then step stool. Try the same shots 2 feet forward and aft of your starting position at 25 feet
        </p>

        <h3>Engine</h3>

        <p>Flash On
        Car must be in bright outdoor shade of a building. Mid Morning to mid afternoon.
        Take a bright white vinyl shower curtain liner, and lay it beneath your engine.
        Using a step stool, take photos from various angles with camera right side up, then inverted.
        Take shots from both passenger and driver's side. Be sure to shoot the entire engine compartment, not just the engine.
        </p>

        <h3>Interior</h3>

        <p>Flash on
        Bright outdoor shade (Mid morning to mid afternoon)
        No direct sun.
        Interior and dash lights on.
        Experiment with different angles and heights.
        </p>


        <h3>Dashboard</h3>

        <p>Clean all gauges. Center steering wheel, and if it has tilt, lower it.
        One method is to back your car into your garage, leaving the garage door open.
        Shoot towards the bright outdoors using your flash for angle shots.
        If taking shots head on, turn the flash off to avoid reflection.
        Wear a dark shirt, and lay a dark sheet or blanket across the front seats to minimize glare and reflections.
        </p>


        <p><b>Good luck!</b></p>


        <div class="clear"></div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>