<div id="content">
  <div class="page">
    <div class="leftcontent">
      <div class="uppercontent"> <h1 class="headingh1"><strong>Pricing</strong></h1>
        <p>Welcome to <span>SwapMyWhip.com.</span> Our number one mission is to help you get your vehicle traded or sold. Choose from one of our 3 options:</p>
        <img alt="" src="/assets/lightbox1.jpg">

        <p><b>Free</b> - Take a test drive on us! You can register and create a listing that will run for 7 days, completely free of charge. One photo, and 100 character limit of text in your description</p>
        <img alt="" src="/assets/lightbox2.jpg">
        <p><b>$9.99</b> Your listing runs until your vehicle sells. Unlimited description text, and 8 HD photos!</p>
        <img alt="" src="/assets/lightbox4.jpg">
        <p><b>$12.99</b> Your listing runs until your vehicle sells. Unlimited description text, 15 HD photos, plus video uplink!</p>
        <img alt="" src="/assets/lightbox3.jpg">
        <div class="clear"></div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>